@import url(./__avatar/about-author__avatar.css);
@import url(./__information/about-author__information.css);
@import url(./__data/about-author__data.css);
@import url(./__text/about-author__text.css);
@import url(./__text/_new/about-author__text_new.css);

.about-author {
  display: flex;
}

@media (min-width: 590px) and (max-width: 1023px) {
    .about-author  {
      margin-bottom: 48px;
    }
  }

  @media screen and (min-width: 320px) and (max-width: 589px) {
    .about-author {
      display: block;
      margin-bottom: 48px;
    }
  }