@import url(./_invalid/button_invalid.css);
@import url(./_valid/button_valid.css);

.button {
  position: relative;
  margin-left: 440px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  
 
  border-radius: 100px;
  width: 168px;
  height: 64px;
  border: 0;
  cursor: pointer;
}


@media (min-width: 476px) and (max-width: 1023px) {
  .button {
    width: 160px;
    height: 58px;
    margin-left: 292px;
  }
}

@media screen and (min-width: 320px) and (max-width: 475px) {
  .button {
    position: unset;
    margin-left: 0;
    width: 280px;
  }
}
