@import url(./__image/news-card__image.css);
@import url(./__date/news-card__date.css);
@import url(./__title/news-card__title.css);
@import url(./__subtitle/news-card__subtitle.css);
@import url(./__resource/news-card__resource.css);
@import url(./__description/news-card__description.css);
@import url(./__link/news-card__link.css);
@import url(./__block-image/news-card__block-image.css);

.news-card {

  max-width: 400px;
  height: 576px;

  margin-bottom: 16px;
  border-radius: 16px;
  background: #ffffff;
}

.news-card:hover {
  box-shadow: 0 0 10px 5px rgba(8, 29, 45, 0.1);
}

@media (min-width: 768px) and (max-width: 1023px) {
  .news-card {

    min-width: 224px;
    height: 425px;
  }
}

@media (min-width: 476px) and (max-width: 767px) {
  .news-card {
    min-width: 224px;
    height: 500px;
  }
}



@media screen and (min-width: 320px) and (max-width: 549px) {
  .news-card {
    min-width: 288px;
    height: 470px;
  }
}
