.header__link_active {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 3px solid white;
  padding-bottom: 23px;
}

@media screen and (min-width: 320px) and (max-width: 475px) {
  .header__link_active {
    padding-bottom: 18px;
  }
}
