.search__title {
  max-width: 500px;
  font-family: Roboto Slab, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 64px;
  color: #ffffff;

  margin-top: 80px;
}

@media (min-width: 475px) and (max-width: 1023px) {
  .search__title {
    margin-top: 40px;
    font-size: 36px;
    line-height: 40px;
  }
}

@media screen and (min-width: 320px) and (max-width: 474px) {
  .search__title {
    margin-top: 30px;
    font-size: 36px;
    line-height: 40px;
    max-width: 285px;
  }
}
