.news-card__description {
  max-width: 352px;
  height: 222px;
  margin: 0 24px 0 24px;
}

@media screen and (min-width: 476px) and (max-width: 767px) {
  .news-card__description {
    height: 230px;
  }
}

@media screen and (min-width: 320px) and (max-width: 475px) {
  .news-card__description {
    height: 215px;
  }
}