.news-card__date {
  margin: 20px auto 12px 0;
  font-family: Source Sans Pro, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #b6bcbf;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .news-card__date {
    margin: 16px auto 12px 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 475px) {
  .news-card__date {
    margin: 15px auto 15px 0;
  }
}