.analytics__number {
  width: 80px;
  text-align: center;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #b6bcbf;
}
