.header__menu {
    margin: 30px 101px 26px auto;
}


@media (min-width: 768px) and (max-width:1023px){
    .header__menu {
      margin: 22px 42px 18px auto;
    }
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    .header__menu {
      margin: 16px 14px 16px auto;
      
    }
  }