.search-result__analytics {
  margin: auto 0;
  padding-right: 11px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
}

@media screen and (min-width: 320px) and (max-width: 475px) {
  .search-result__analytics {
    max-width: 197px;
  }
}