.tech__block-icon {
}

@media (min-width: 768px) and (max-width: 1023px) {
  .tech__block-icon {
    margin: 0 auto 50px 40px;
  }
}

@media screen and (min-width: 320px) and (max-width: 550px) {
  .tech__block-icon {
    max-width: 326px;
    margin: 0 auto 50px auto;
  }
}
