.preloader__text {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  margin: 0 auto 80px auto;
  text-align: center;
  color: #b6bcbf;
}
