.not-found__text {
  margin-top: 16px;
  margin-bottom: 80px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;

  text-align: center;
  color: #b6bcbf;
}
