@import url(./__text/header__text.css);
@import url(./__text/_black/header__text_black.css);
@import url(./__menu/header__menu.css);
@import url(./__link/header__link.css);
@import url(./__link/_active/header__link_active.css);
@import url(./__link/_black/header__link_black.css);
@import url(./__link/_main/header__link_main.css);
@import url(./_border/header_border.css);

.header {
  display: flex;
  justify-content: space-between;
  background: rgba(196, 196, 196, 0.01);
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
}

